/* Header */
/* th.fc-day-sun,
th.fc-day-mon,
th.fc-day-tue,
th.fc-day-wed,
th.fc-day-thu,
th.fc-day-fri,
th.fc-day-sat {
    background-color: #1a252f;
    color: #fff;
    line-height: 40px;
} */

.demo-app-main {
    background-color: #fff;
}

.fc {
    /* the calendar root */
    max-width: 1100px;
    margin: 0 auto;
}

.fc .fc-view-harness {
}

.fc .fc-toolbar {
}

.fc-custom-header {
    background-color: #1a252f;
    color: #fff;
    line-height: 40px;
}

th.fc-day-sun,
th.fc-day-sat {
    background-color: #c5c5c5;
    color: #1a252f;
}
